<ion-view title="Crear" id="page4">
    <ion-content padding="true" class="has-header">
        <button id="crear-button3" class=" button button-positive  button-block ">Adicionar Producto</button>
        <form id="crear-form1" class="list ">
            <label class="item item-input " id="crear-input1">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crear-input2">
                <span class="input-label">Tipo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crear-input3">
                <span class="input-label">Cantidad</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="crear-input4">
                <span class="input-label">Precio</span>
                <input type="number" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>