<ion-view title="Ventanas de Dialogo" id="page1" style="background-color:#DEE3EC;">
    <ion-content padding="true" class="has-header">
        <button id="ventanasDeDialogo-button1" class=" button button-positive  button-block " ng-click="getDialogAlert()">Alertar</button>
        <button id="ventanasDeDialogo-button2" class=" button button-positive  button-block " ng-click="getDialogConfirm()">Confirmar</button>
        <button id="ventanasDeDialogo-button3" class=" button button-positive  button-block " ng-click="getDialogPromtp()">Capturar</button>
    </ion-content>
</ion-view>


  