<ion-view title="Brujula" id="page5">
    <ion-content padding="true" class="has-header">
        <button id="brujula-button5" class=" button button-positive  button-block " ng-click="getCurrentDeviceMotion()">Show Info-Dispositivo</button>
        <ion-list id="brujula-list5">
            <ion-item id="brujula-list-item6"> X {{x}}</ion-item>
            <ion-item id="brujula-list-item7"> Y {{y}}</ion-item>
            <ion-item id="brujula-list-item8"> Z {{z}}</ion-item>
            <ion-item id="brujula-list-item9"> Time {{timeStamp}}</ion-item>
           
        </ion-list>
    </ion-content>
</ion-view>