<ion-view title="Orientacion" id="page4">
    <ion-content padding="true" class="has-header">
        <button id="orientacion-button3" class=" button button-positive  button-block ">Show Info-Compass</button>
        <ion-list id="orientacion-list3">
            <ion-item id="orientacion-list-item16">Item</ion-item>
            <ion-item id="orientacion-list-item17">Item</ion-item>
            <ion-item id="orientacion-list-item18">Item</ion-item>
            <ion-item id="orientacion-list-item19">Item</ion-item>
            <ion-item id="orientacion-list-item20">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>