<ion-view title="Red" id="page3">
    <ion-content padding="true" class="has-header">
        <button id="red-button2" class=" button button-positive  button-block ">Show Info-Red</button>
        <ion-list id="red-list2">
            <ion-item id="red-list-item11">Item</ion-item>
            <ion-item id="red-list-item12">Item</ion-item>
            <ion-item id="red-list-item13">Item</ion-item>
            <ion-item id="red-list-item14">Item</ion-item>
            <ion-item id="red-list-item15">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>