<ion-view title="page3" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
    <button id="page3-button1" class=" button button-positive  button-block " ng-click="getDeviceInformation()">mostrar</button>
        <ion-list id="page3-list1" class=" ">
            <ion-item id="page3-list-item4" class="  ">Item {{device}}</ion-item>
            <ion-item id="page3-list-item5" class="  ">Item {{cordova}}</ion-item>
            <ion-item id="page3-list-item6" class="  ">Item {{model}}</ion-item>
            <ion-item id="page3-list-item7" class="  ">Item {{platform}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>